<!DOCTYPE html >

<html >
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Gestión de Usuarios</title>
<link href="gestion-usuario.component.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="menu">
			<!--<ul>
				<li class="first current_page_item"><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Contact</a></li>
			</ul> -->
		</div>
		<div id="logo">
            <h1>PirateBay </h1>
			
			
		</div>
	</div>
    <div id="banner">&nbsp;
           
        
            
            <table class="tg">
                    <thead>
                      <tr>
                        <th class="tg-si57">ID</th>
                        <th class="tg-si57">Nombre de usuario</th>
                        <th class="tg-si57">teléfono</th>
                        <th class="tg-si57">Rol</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-dg7a"></td>
                        <td class="tg-dg7a"></td>
                        <td class="tg-dg7a"></td>
                        <td class="tg-dg7a"></td>
                      </tr>
                    </tbody>
                    </table>
                    
                   
                   
                   </div>
                   <div class="contenedor-div">
                                
                        <a class="boton_personalizado" href="">Actualizar Datos</a> 
                               
                    </div>     
                    

                    




   
	<!-- end #header -->
	
	
</div>
<div id="footer">
	<p>Copyright (c) 2020 Todos los derechos reservados.</p>
</div>

</body>
</html>