<html>
		<head>
		    <title>sistema de login</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			


<link rel="stylesheet" type="text/css" href="login.component.css">
		</head>
		<body>
          <div id="superconten">   
		 <div id="Contenedor">
                <h1>PirateBay </h1>
                <h2>Admin web Login</h2>
               
                
    
 
    
<div class="ContentForm">
        <form method="post" #loginForm=ngForm (ngSubmit)="onSubmit()">
		 	

                <input type="text" name="u" placeholder="Username" [(ngModel)]="form.username" required="required" />
                <input type="password" name="p" placeholder="Password" [(ngModel)]="form.password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
                <div class="opcioncontra"><a href="">¿Olvidaste tu contraseña?</a></div>
		 	

                
		 	</form>
		 </div>	
		 </div>
		</div>   
</body>
 
</html>