<!DOCTYPE html >

<html >
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Almacen</title>
<link href="almacen.component.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
                        
            <div id="menu">
                    <h2>Kardex </h2>

                    
                  </div>
		<div id="logo">
            <h1>Almacen </h1>
           
            <input type="text" name="search" placeholder="Buscar..">
            
            
			
		</div>
	</div>
    <div id="banner">&nbsp;
           
        

            <table id="racetimes">
                    <tr id="firstrow">
                    <th>código</th><th>Título</th><th>Formato</th><th>Fecha de Creación</th><th>Proveedor</th><th>Cantidad</th></tr>
                    <tr><td></td>  <td></td>  <td></td>  <td></td>  <td></td>  <td></td></tr>
                   
                    </table>


                   
                   
        </div>
                   
        <div id="banner">&nbsp;
            
                <div class="boxes">

                    <a href="#" class="rainbow-button" alt="Atrás"></a> 
                    <a href="#" class="rainbow-button" alt="Nueva Película"></a> 
             </div>
        </div>
               

                    

        

                   




   
	<!-- end #header -->
	
	
</div>
<div id="footer">
	<p>Copyright (c) 2020 Todos los derechos reservados.</p>
</div>

</body>
</html>