<!DOCTYPE html >

<html >
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PirateBay</title>
<link href="main.component.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="menu">
                <h2>PirateBay </h2>
		</div>
		<div id="logo">
            <h1>Menú</h1>
			
			
		</div>
	</div>
    <div id="banner">&nbsp;
           
        <div class="box_home_all">

            <div class="box_home">
                    <h1 class="tit_img1"> <a routerLink="/gestion-usuario">Gestionar Usuarios</a>
                        </h1>
                        
                         
                    
                     </div>

            
             <div class="box_home">
                
                     <h1 class="tit_img4"><a routerLink="/kardex">Kardex</a>
                     </h1>
                                          
                                           
                             </div>
                              

            <div class="box_home">
                     <h1 class="tit_img3"><a (click)="exit()">Salir</a>
                     </h1>


            </div>
      </div>



            

    </div>
   
	<!-- end #header -->
	
	
</div>
<div id="footer">
	<p>Copyright (c) 2020 Todos los derechos reservados.</p>
</div>

</body>
</html>