<!DOCTYPE html >

<html >
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PirateBay</title>
<link href="main.component.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="menu">
			<!--<ul>
				<li class="first current_page_item"><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Contact</a></li>
			</ul> -->
		</div>
		<div id="logo">
            <h1>PirateBay </h1>
			
			
		</div>
	</div>
    <div id="banner">&nbsp;
            <!--<h2>Gestionar Usuarios</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h2>Gestionar Productos</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h2>Salir</h2>&nbsp;-->
        <div class="box_home_all">

            <div class="box_home">
                    <h1 class="tit_img1">
                        Gestionar Usuarios</h1>
                        
                    
                    
                     </div>

            
            <div class="box_home">
                
                    <h1 class="tit_img2">Gestionar Productos</h1>
                              
                               
                              </div>

            <div class="box_home">
                     <h1 class="tit_img3">Salir</h1>


            </div>
      </div>



            

    </div>
   
	<!-- end #header -->
	
	
</div>
<div id="footer">
	<p>Copyright (c) 2020 Todos los derechos reservados.</p>
</div>

</body>
</html>